.git
.env
*.env
logs
data
cache
roms/*.cxi
roms/*.3ds
roms/*.cia
roms/*.xci
roms/*.nsp
roms/*.nca
roms/*.keys
__pycache__
*.pyc
*.pyo
*.sqlite
*.sqlite3
*.db
node_modules
.wrangler
ryubing-work
outputs
work
