.wrangler
node_modules
__pycache__
.env
data
cache
logs
rom-patch-work/
.rom-patch-work/
*.cxi
*.3ds
*.cia
*.nsp
*.nca
*.xci
*.keys
*.sqlite
*.sqlite3
*.db
ryubing-work/
*.exe
gamePatch/source/main.hks
newcodeinfo.h
